<?xml version="1.0"?>
<!--
/**
 * @copyright 2024, Attila Sagi
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wishlist_admin_email>
            <wishlist_admin_email_config>
                <enabled>0</enabled>
            </wishlist_admin_email_config>
        </wishlist_admin_email>
    </default>
</config>
