<?xml version="1.0"?>
<!--
/**
 * @copyright 2024, Attila Sagi
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Space_WishlistAdminEmail" >
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Wishlist"/>
        </sequence>
    </module>
</config>
